{% extends 'base.html.twig' %}

{% block title %}O časopisu{% endblock %}

{% block body %}
<div class="row">
    <h1>O časopisu</h1>

    <p><strong>LOGOS POLYTECHNIKOS je vysokoškolský odborný recenzovaný časopis</strong>, který slouží pro publikační aktivity akademických pracovníků Vysoké školy polytechnické Jihlava i jiných vysokých škol, univerzit a výzkumných organizací. Je veden na seznamu recenzovaných odborných a vědeckých časopisů <strong>ERIH PLUS - </strong>European Reference Index for the Humanities and the Social Sciences (https://dbh.nsd.uib.no/publiseringskanaler/erihplus/periodical/info?id=488187).</p>

    <p><strong>Časopis</strong> je vydáván od roku 2010 a <strong>vychází čtyřikrát ročně</strong>. Redakční rada časopisu sestává z&nbsp;interních i externích odborníků. Funkci šéfredaktora zastává prorektor pro tvůrčí a projektovou činnost Vysoké školy polytechnické Jihlava. Funkce odpovědných redaktorů jednotlivých čísel přísluší vedoucím kateder Vysoké školy polytechnické Jihlava. Veškeré vydávané příspěvky prochází recenzním řízením a jsou pečlivě redigovány.&nbsp;</p>

    <p><strong>Tematické a obsahové zaměření časopisu</strong>, především na obory sociálně-ekonomické, zdravotnické a technické, reflektuje potřeby oborových kateder Vysoké školy polytechnické Jihlava. Na základě souhlasu odpovědného redaktora mohou katedry poskytnout publikační prostor i&nbsp;odborníkům bez zaměstnanecké vazby k Vysoké škole polytechnické Jihlava.</p>

    <p><strong>V časopisu je možné publikovat</strong> odborné články, statě, přehledové studie, recenze a další typy odborných příspěvků v&nbsp;českém, slovenském a anglickém jazyce. Do recenzního řízení jsou přijímány příspěvky tematicky odpovídající zaměření časopisu a formálně upravené dle redakční šablony (viz. níže).<br><br></p>
</div>
{% endblock %}
