{% extends 'base.html.twig' %}

{% block title %}Registrace autora{% endblock %}

{% block body %}
    <div class="row">
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock %}
