{% extends "@FOSUser/layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Registrace autora</h1>
        </div>
    </div>
{% endblock %}

{% block fos_user_content %}
    {% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
